<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Send</title>
</head>
<body>
    <div class="number_body">
        <input type="text" id="phone_number" class="phone_number" name="phone_number"> 
        <input class="text-user" type="button" value="Text">
    </div>
</body>
<script>
    const button = document.querySelector('.text-user')
    const phone_number = document.querySelector("#phone_number")

    button.addEventListener("click", () =>{
        const data = { phone_number: phone_number.value}
        fetch('/send', {
            method: 'POST',
            headers : {
                'Content-type': 'application/json'
            },
            body: JSON.stringify(data)
        })
    }, false)
</script>
</html>